
form {
    margin: auto;
    

    ul.checkbox-group {
        list-style: none;
        padding: .5em;
        font-size: 1.5em;
        justify-content: center;
        align-items: center;
    }

    li label{
        padding-left: .25em;
        align-items: center;
    }

    input[type=checkbox] {
        transform: scale(1.6);
    }

    input:checked {
        background-color:  rgb(0, 68, 0);
    }

    h1 {
        font-size: 3em;
    }

    button {
        //width:20%;
        height: 36px;
        padding: 0 16px;
        border-radius: 4px;
        border: none;
        outline: none;
        text-align: center;
        color: white;
        font-size: 14px;
        font-weight: bold;
        letter-spacing: 0.3em;
        text-transform:uppercase;

        background-color: rgb(0, 68, 0);
        box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    }

    .back {
        height: 36px;
        padding: 0 16px;
        border-radius: 4px;
        font-size: 14px;
        font-weight: bold;
        background-color: lightgray;
        color: black;
        letter-spacing: 0.3em;
    }

    
}