 * {
     margin: 0;
     padding: 0;
     font-family: $primaryFont;
 }
 
 html, body {
    height: 100%;
} 


body {
    height: 100%;
    max-width: 50em;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    line-height: 1.5;
    
}

main {
    //background-color: gray;
    margin: auto;
}
