 * {
     margin: 0;
     padding: 0;
     font-family: $RobotoSecondary;
 }
 
body {
    height: 100vh;
    max-width: 1280px;
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $RobotoPrimary;
}

button {
    height: 36px;
    min-width: 64px;
    padding: 0 16px;
    text-align: center;
    border: 2px solid transparent;
    border-radius: 4px;
    background-color: green;
    color: white;
    font-size: 14px;
    font-family: $RobotoSecondary;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .2em;
}

button:hover {
    background-color: transparent;
    border: 2px solid green;
    color: green;
}